html { height:100%; width: 100%; }
body { height:100%; width: 100%; padding: 15px; color: #6D6E72; margin:100px; margin-top: 20px; max-width: 800px;}

#svg-col {
	text-align: center;
}

.center {
	text-align: center;
}

#top {
  margin: 0;
	border: 0;
	padding: 0;
}

.graph {

}

div {
	display: block;
}

.text {
	color: black;
	margin-left: 100px;
}

.caption {
	font-size: 14px;
}

h1 {
	font-family: 'nyt-cheltenham','georgia','times new roman','times','serif';
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 26.4px;
	/*text-align: center;*/
	font-style: italic;
	color: black;
	max-width: 600px;
}

h3 {
	font-family: 'Open Sans';
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}


p {
	font-family: 'Open Sans';
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	/*display: block;*/
}
.title-break {
	font-family: 'Open Sans';
    font-size: 28px;
    margin-bottom: 40px;
    margin-top: 50px;
    display: block;
    color: black;
}
